.App {
  text-align: center;
  background-color: #282c34;
  color: white;
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h3 {
  color: salmon;
}

.search-form{
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border:none;
  padding: 13px;
  border-radius: 8px;
  font-size: 25px;
  margin: 10px 0;
  border: 1px solid #eee;
  color: #eee;
  background: rgba(24,24,27, 0.6);
}
.search-button { 
  background: #22c3d4;
  border: 1px solid #282c34;
  border-radius: 8px;
  padding: 10px 10px;
  color: whitesmoke;
  text-shadow: #000000 2px 2px 2px;
  font-size: 25px;
  margin: 0 0 0 20px;
}
.search-button:hover {
  background-color: salmon ;
  text-shadow: #000000 2px 2px 2px;
}
